.ps-container {
	font-family: "Helvetica Neue", sans-serif;
	position: fixed;
	z-index: 9999999;
	top: 0;
	bottom: 0;
	right: -330px;
	width: 330px;
	color: #000;
	font-size: 12px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	webkit-box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14);
    box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14);
    background: #fff;

    -webkit-transition: all 500ms cubic-bezier(0.68, -0.2, 0.265, 1);
    transition: all 500ms cubic-bezier(0.68, -0.2, 0.265, 1);
}
.ps-container.ps-opened {
	right: 0;
}

#ps-open-icon {
	position: absolute;
	top: 150px;
	left: -50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 3px 0 0 3px;
	background-color: #d8d8d8;
}

#ps-open-icon .icon {
	background: url(icons.png) 2px -22px no-repeat;
	width: 30px;
	height: 30px;
	margin: 10px auto 0;
}

#ps-open-icon:hover,
#ps-open-icon.ps-opened:hover {
	background-color: #efefef;
}

#ps-open-icon.ps-opened .icon {
	background: url(icons.png) 3px 5px no-repeat;
	width: 30px;
	height: 30px;
	margin: 10px auto 0;
}

.ps-content {
	margin-right: -17px;
	padding: 0 15px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
    width: 347px;
}

.ps-buy-button:hover,
.ps-buy-button:focus {
	color: #f13457;
	background-color: #fff;
	border: 1px solid #f13457;
}
.ps-buy-button,
.ps-buy-button:visited,
.ps-buy-button:active {
	transition: all .3s ease-out;
	width: 100%;
	text-align: center;
	line-height: 35px;
	border-radius: 3px;
	margin: 0 0 15px;
	color: #fff;
	font-size: 15px;
	background-color: #f13457;
	border: 1px solid #f13457;
	padding: 10px 50px;
}

.ps-ribbon.ps-no-background {
	background:none;
	text-align: left;
}

.ps-content-wrapper {
	max-height:100%;
}

.ps-clearfix {
	clear:both;
}

.ps-large-box {
	padding: 12px 2px 25px;
	position: relative;
}
.ps-large-box:first-child {
	padding-top: 45px;
}

.ps-colors {
	padding-bottom: 34px;
}
.ps-button-cta {
	text-align: center;
	padding: 45px 0 16px;
}

.ps-large-box:not(.ps-button-cta):after {
	top: 100%;
}

.ps-large-box:not(.ps-button-cta):after,
.ps-ending-tag-wrapper:before {
	border-top: 1px solid #c6c6c6;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
	margin: 0 -20px;
}
.ps-ending-tag-wrapper:before {
    margin: 0;
}
.ps-large-box.ps-button-cta:after,
.ps-large-box.ps-child-themes:after {
	border: none;
	margin: 0;
	position: static;
	width: 0;
}

.ps-child-themes .ps-text {
	margin-bottom: 25px;
}

.ps-title {
	font-size: 16px;
    color: #aeadad;
    display: block;
	text-transform: uppercase;
	margin-bottom: -2px;
	letter-spacing: 1px;
}
.ps-text {
	font-size: 11px;
	line-height: initial;
    display: block;
	font-weight: 400;
	margin: 0px 0 20px;
	color: #aeadad;
}
.ps-styles-ul, .ps-color-boxes {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}
.ps-style-button {
	transition: all .3s ease-out;
	width:47%;
	display: inline-block;
	list-style: none;
	text-align: center;
	border-radius: 3px;
	line-height: 35px;
	margin-bottom: 15px;
	background-color: #333645;
	color: #fff;
	font-size: 14px;
}

.ps-style-button:nth-child(2n+1) {
	float: right;
}

.ps-style-button:nth-child(2n) {
	float: left;
}

.ps-styles-ul li a {
	color: #808080;
	font-size: 13px;
}
.ps-styles-ul li:hover {
	background:#ddd;
	color: #000;
}

.ps-color-boxes {
	text-align: center;
	display: table;
}

.ps-color-boxes li {
	display: table-cell;
	list-style: none;
	width: 16%;
	margin-right: 5%;
}

.ps-color-boxes li:nth-child(5n) .ps-color-box, .ps-color-boxes li:last-child .ps-color-box {
	margin-right: 0;
}

.ps-color-box {
	-webkit-transition: all 500ms cubic-bezier(0.34,1.61,.7,1);
	transition: all 500ms cubic-bezier(0.34,1.61,.7,1);
	cursor: pointer;
	height: 40px;
	width: 40px;
	border-radius: 2px;
	margin-right: 25px;
}
.ps-color-box:hover {
	opacity: .9;
	-webkit-transform: scale(1) rotate(45deg);
	transform: scale(1) rotate(45deg);
	border-radius: 50%;
}
.ps-child-theme-button {
	border: 1px solid #e8e8e8;
	overflow:hidden;
	position: relative;
	width: 147px;
	height: 120px;
	display: inline-block;
	margin-bottom: 10px;
	box-shadow: 0 5px 5px -15px rgba(0, 0, 0, .5);
	transition: .3s all ease;

}
.ps-child-theme-button:nth-child(2n + 1) {
	float: right;
	margin-right: -3px;
}
.ps-child-theme-button:nth-child(2n + 2) {
	float: left
}

.ps-child-theme-button img {
	-webkit-transition: all 300ms cubic-bezier(0.34,1.61,.7,1);
	transition: all 300ms cubic-bezier(0.34,1.61,.7,1);
}

.ps-child-theme-button:hover {
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
}

.ps-child-theme-button:hover > img {
	-webkit-transform: scale(1.05) rotate(1deg);
	transform: scale(1.05) rotate(1deg);
}

.ps-child-theme-button:hover > .ps-child-themes-overlay {
	opacity: 1;
}
.ps-child-themes-overlay {
	-webkit-transition: all 300ms cubic-bezier(0.34,1.61,.7,1);
	transition: all 300ms cubic-bezier(0.34,1.61,.7,1);
	z-index:100;

	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: rgba(0,0,0,.5);
	opacity:0;
}

.ps-ending-tag-wrapper {
	padding: 18px 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
	margin: 0 -15px;
}
.ps-ending-tag:focus,
.ps-ending-tag:visited,
.ps-ending-tag {
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 11px;
	color: #aeadad;
	padding: 10px 0;
	display: block;
    position: relative;
}

.ps-ending-tag:hover {
	text-decoration: underline;
	color: #f13457;
}

@media (max-width: 768px) {
	.ps-container {
		display:none;
	}
}


.ps-color-effect::after {
	z-index: -5;
	background: rgba(138, 138, 138, 0.25);
	animation: effect 0.3s forwards;
	-webkit-animation: effect 0.3s forwards;
}

.ps-color-box::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
}


@keyframes effect {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1, 1, 1);
	}
}
@-webkit-keyframes effect {
	0% {
		-webkit-transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		-webkit-transform: scale3d(1, 1, 1);
	}
}

@media screen and (max-width: 1280px) {
	.ps-container {
		right: -280px;
		width: 280px;
	}
	.ps-content {
		padding:0 10px;
		width: 295px;
	}

	.ps-color-box {
		height: 35px;
		width: 35px;
		margin-right: 0;
		padding: 0 10px;
	}

	.ps-child-theme-button {
		width: 128px;
	}

	.ps-color-boxes li {
		width: 22%;
		margin-right: 0;
	}
}