.ps-container {
	font-family: "Open Sans", sans-serif;
	position: fixed;
	z-index: 9999999;
	top: 0;
	bottom: 0;
	right: -350px;
	width: 350px;
	color: #000;
	font-size: 12px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	webkit-box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14);
    box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14);
    background: #fff;
}
.ps-container.ps-opened {
	right: 0;
}

#ps-open-icon {
	position: absolute;
	top: 150px;
	left: -50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background: #f13457;
	border-radius: 3px 0 0 3px;
}
#ps-open-icon:hover {
	background: #FD1B45;
}

#ps-open-icon.ps-opened:before {
	content: "\f0da";
}
.ps-open:before {
	content: "\f013";
	float: left;
	font-family: fontawesome;
	color: #FFF;
	font-size: 20px;
	line-height: 30px;
	font-weight: lighter!important;
	text-align: center;
	width: 30px;
	height: 30px;
	margin: 10px;
}

.ps-content {
	margin-right: -17px;
	padding: 15px 15px 0;
	overflow-y: scroll;
	overflow-x: visible;
	height: 100vh;
}

.ps-ribbon {
	font-weight: 400;
	font-size: 12px;
	padding: 10px 5px;
	margin: 0 -17px;
	color: #555555;
	background: #f6f6f6;
	text-align: center;
	font-family: "Open Sans", sans-serif !important;
}

.ps-ribbon.ps-no-background {
	background:none;
}

.ps-ribbon h1 {
	font-size: 21px;
}
.ps-ribbon p,
.ps-ribbon h2 {
	margin-bottom: 0;
	font-size: 16px;
}
.ps-ribbon h3 {
	font-size: 14px;
}
.ps-ribbon h4 {
	font-size: 12px;
}
.ps-ribbon h5 {
	font-size: 11px;
}
.ps-ribbon h6 {
	font-size: 10px;
}


.ps-ribbon h1,
.ps-ribbon h2,
.ps-ribbon h3,
.ps-ribbon h4,
.ps-ribbon h5,
.ps-ribbon h6,
.ps-ribbon p {
	line-height: initial;
	margin: 0 0 5px;
	padding:0;
}

.ps-ribbon h1:last-child,
.ps-ribbon h2:last-child,
.ps-ribbon h3:last-child,
.ps-ribbon h4:last-child,
.ps-ribbon h5:last-child,
.ps-ribbon h6:last-child,
.ps-ribbon p:last-child {
	margin: 0;
}


.ps-content-wrapper {
	max-height:100%;
}

.ps-content ::-webkit-scrollbar {
	width: 0px;  /* for vertical scrollbars */
	height: 0px; /* for horizontal scrollbars */
}
.ps-content ::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.0);
}
.ps-content ::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.0);
}

.ps-clearfix {
	clear:both;
}

.ps-large-box {
	padding: 10px 2px 10px;
	position: relative;
}

.ps-button-cta {
	padding-bottom: 0;
}

.ps-large-box:not(.ps-button-cta):after {
	border-top: 1px solid #c6c6c6;
	content: "";
	margin: 0 auto;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 75%;
	z-index: -1;
}
.ps-large-box.ps-button-cta:after,
.ps-large-box.ps-child-themes:after {
	border: none;
	margin: 0;
	position: static;
	width: 0;
}

.ps-layout-button {
	transition: all .3s ease-out;
	width: 100%;
	display: block;
	text-align: center;
	line-height: 35px;
	background-color: #333645;
	border-radius: 3px;
	margin: 15px 0;
	color: #fff;
	font-size: 14px;
}
.ps-layout-button:first-of-type {
	margin-top: 0;
}
.ps-large-box a:not(.ps-buy-button):visited {
	color: #fff;
}
.ps-layout-button:hover, .ps-style-button:hover, .ps-layout-button:focus, .ps-style-button:focus {
	background-color: #77c4d4;
	color: #fff;
}
.ps-layout-button:last-of-type {
	margin-bottom: 0;
}

.ps-layouts-demos-box img {
	width: 128px;
	height: 100px;
}
.ps-layouts-demos-box a {
	display:block;
	border: 1px solid transparent;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.ps-layouts-demos-box a:hover {
	opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
}

.ps-title {
	font-size: 18px;
    color: #555555;
    text-align: center;
    display: block;
    margin-bottom: 5px;
}
.ps-text {
	font-size: 11px;
	line-height: initial;
    margin-bottom: 10px;
    display: block;
	font-weight: 400;
}
.ps-styles-ul, .ps-color-boxes {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
}
.ps-style-button {
	transition: all .3s ease-out;
	width:47%;
	display: inline-block;
	list-style: none;
	text-align: center;
	border-radius: 3px;
	line-height: 35px;
	margin-bottom: 15px;
	background-color: #333645;
	color: #fff;
	font-size: 14px;
}

.ps-style-button:nth-child(2n+1) {
	float: right;
}

.ps-style-button:nth-child(2n) {
	float: left;
}

.ps-styles-ul li a {
	color: #808080;
	font-size: 13px;
}
.ps-styles-ul li:hover {
	background:#ddd;
	color: #000;
}

.ps-color-boxes {
	text-align: center;
}

.ps-color-boxes li {
	display: inline-block;
	list-style: none;
	width: 16%;
	margin-right: 5%;
}

.ps-color-boxes li:nth-child(5n), .ps-color-boxes li:last-child {
	margin-right: 0;
}

.ps-color-box {
	transition: all .3s ease-out;
	cursor: pointer;
	margin: 0 auto;
	width: 100%;
	height: 35px;
	margin: 0 auto;
	border-radius: 3px;
}
.ps-color-box:hover {
	border: 1px solid #fff;
}
.ps-child-theme-button {
	border-radius: 3px;
	overflow:hidden;
	position: relative;
	width: 48%;
	margin-right: 2%;
	height: 100px;
	display: inline-block;
	margin-bottom: 4px;
}
.ps-child-theme-button:nth-child(2n + 1) {
	margin-right: 0;
	float: right;
}
.ps-child-theme-button:hover > .ps-child-themes-overlay {
	opacity: 0.0;
}
.ps-child-themes-overlay {
	transition: all .3s ease-out;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background-color: rgba(0,0,0,.5);
}

@media (max-width: 480px) {
	.ps-container {
		width: 100%;
		left: -100%;
	}

	.ps-container.ps-opened {
		left: 0;
	}

	.ps-content {
		width: 100%;
		padding: 0 25px;
	}
	#ps-open-icon.ps-opened {
		z-index: 100;
	}
	#ps-open-icon.ps-opened {
		position: fixed;
		top: 0px;
		left: auto;
		right: 0;
		-webkit-border-radius: 0 0 0 3px;
		-moz-border-radius: 0 0 0 3px;
		border-radius: 0 0 0 3px;
	}
}

.ps-buy-button:hover {
	color: #f13457;
	background-color: #fff;
	border: 1px solid #f13457;

}
.ps-buy-button {
	transition: all .3s ease-out;
	width: 100%;
	display: block;
	text-align: center;
	line-height: 35px;
	border-radius: 3px;
	margin: 0 0 15px;
	color: #fff;
	font-size: 14px;
	background-color: #f13457;
	border: 1px solid #f13457;
}

@media (max-width: 768px) {
	.ps-container {
		display:none;
	}
}